@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #09090b;
  --bg-secondary: #18181b;
  --bg-card: #18181b;
  --text-primary: #f4f4f5;
  --text-muted: #71717a;
  --border: #27272a;
}

html.light {
  --bg-primary: #f8fafc;
  --bg-secondary: #f1f5f9;
  --bg-card: #ffffff;
  --text-primary: #0f172a;
  --text-muted: #64748b;
  --border: #e2e8f0;
}